[submodule "exams"]
	path = exams
	url = git@github.com:AndPuQing/exams.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:AndPuQing/rustlings.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/AndPuQing/TinyInfiniTensor.git
